<?xml version="1.0"?>
<config>
    <tabs>
        <onepagecheckout module="onepagecheckout" translate="title">
            <label>dZinehub</label>
            <sort_order>100</sort_order>
        </onepagecheckout>
    </tabs>
    <sections>
        <onepagecheckout module="onepagecheckout" translate="label">
            <label>One Page Checkout</label>
            <tab>onepagecheckout</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <onepagecheckout_config module="onepagecheckout" translate="label">
                    <label>Configuration</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                    </fields>
                </onepagecheckout_config>
            </groups>
        </onepagecheckout>
    </sections>
</config>